.btn-custom
{
    background-color: white;
    margin: 25px;
    border-bottom-style: solid;
    border-bottom-color: #2c5282;
    padding: 5px 25px;
    letter-spacing: 2px;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 25px;
    color: #2c5282;
}

.card {
    background-color: #e2e8f0;
    margin: 0 auto; 
        float: none; 
        margin-bottom: 10px; 
}

.form-control
{
    text-align: center;
}

label {
    display: block;
    text-align: center;
    line-height: 150%;
    font-size: .85em;
}
.form-row{
    margin: 0 auto;
    float: none;
    justify-content: center;
}